@media screen and (max-width: 770px) {
    label {
        width: 100%;
    }
}
@media screen and (min-width: 771px) {
    label {
        width: 50%;
    }
}

label {
    margin-bottom: 20px;
}

input, textarea, select {
    width: 100%;
}

input, select {
    height: 32px;
}

input, textarea, ::placeholder, select {
    padding: 5px;
}

form > div > button {
    padding: 5px 20px;
}

.error {
    color: red;
    font-size: 0.8rem;
    padding-left: 5px;
}

.success {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.success > span {
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
}