@tailwind base;
@tailwind components;
@tailwind utilities;

.blockPage {
  width: 100%;
  min-height: 600px;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora";
}